<footer class="bg-gray-900 text-gray-300 py-10 mt-20">
    <div class="max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-4 gap-10 px-4">
  
      <div>
        <h2 class="text-lg font-semibold mb-3">TokoRumahan</h2>
        <p class="text-sm">
          Belanja kebutuhan rumah dengan mudah.
        </p>
      </div>
  
      <div>
        <h3 class="font-semibold mb-3">Menu</h3>
        <ul class="space-y-2">
          <li><a href="/" class="hover:text-white">Home</a></li>
          <li><a href="/cart" class="hover:text-white">Cart</a></li>
        </ul>
      </div>
  
      <div>
        <h3 class="font-semibold mb-3">Bantuan</h3>
        <ul class="space-y-2">
          <li><a class="hover:text-white" href="#">FAQ</a></li>
          <li><a class="hover:text-white" href="#">Kontak</a></li>
        </ul>
      </div>
  
      <div>
        <h3 class="font-semibold mb-3">Ikuti Kami</h3>
        <p>Instagram | Tiktok | Facebook</p>
      </div>
  
    </div>
  
    <p class="text-center text-gray-400 text-sm mt-10">
      © 2026 TokoRumahan — Semua Hak Dilindungi.
    </p>
  </footer>
  